/* Main style sheet */

nav {
  margin-bottom: 60px;
  font-family: 'Raleway', 'Arial Narrow Bold', sans-serif;

}


body {
  margin-bottom: 60px;
  font-family: 'Patrick Hand SC', sans-serif;

}

p {
  font-size: 18px;
  padding-top: 20px;
  font-family: 'Raleway', 'Arial Narrow Bold', sans-serif;
}


h4 {
  color: red;
  padding-top: 10px;
  font-weight: bold;
  font-family: 'Raleway', 'Arial Narrow Bold', sans-serif;
}

footer {
  position: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
